<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FISHBONE{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
			<script src="{{ asset('js/jquery.min.js') }}"></script>
			<script src="{{ asset('js/bootstrap.js') }}"></script>
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><div style="font-size: 32px;;">FISHBONE</div></a>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% include "Home/menu.html.twig" %}
            {% endif %}
        </div>
    </nav>
    <div id="message_notice">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            {{ flashMessage }}
        {% endfor %}

    </div>
    <div class="text-right" style="margin-right: 10px;margin-top:-20px">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{app.user.username}}
        {% endif %}
    </div>
    </body>
    {% block body %} {% endblock %}
    {% block javascripts %}{% endblock %}
</html>
